* {
    font-family: 'Playfair Display', serif;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
button{
    border: none;
    background: none;
    padding: 0;
}
input, button:focus {
    outline: none;
}
a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.more {
    color: #fff;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 30px;
    transition: .3s;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
}
.more i {
    font-size: 13px;
    margin-left: 6px;
}

.more.green {
    background: #88b44e;
    color: #fff;
}
.more.green i {
    color: #333;
}
.more.green:hover {
    background: #252c30;
    color: #fff;
}
.more.green:hover i {
    color: #88b44e;
}

.more.white {
    background: #fff;
    color: #252c30;
}
.more.white i {
    color: #333;
}
.more.white:hover {
    background: #252c30;
    color: #fff;
}
.more.white:hover i {
    color: #88b44e;
}

.more.black {
    background: #252c30;
    color: #fff;
}
.more.black i {
    color: #88b44e;
}
.more.black:hover {
    background: #88b44e;
    color: #333;
}
.more.black:hover i {
    color: #252c30;
}


.section-header {
    position: relative;
    text-align: center;
}
.section-header h5 {
    font-weight: 900;
    font-style: italic;
    color: #88b44e;
}
.section-header h2 {
    font-weight: bold;
    font-size: 40px;
}
.section-header p {
    max-width: 770px;
    margin: auto;
    color: #555;
    font-style: italic;
    font-size: 18px;
    margin-top: 30px;
}
.section-header span {
    filter: alpha(opacity=3);
    -webkit-opacity: .03;
    -moz-opacity: .03;
    opacity: 0.03;
    z-index: 1;
    font-family: 'Playfair Display',sans-serif;
    font-family: var(--font-headers),sans-serif;
    font-weight: 700;
    font-weight: 900;
    font-size: 150px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding-bottom: 110px;
}

/* form */
form label {
    display: block;
    font-weight: bold;
}
form label.required:after {
    content: '*';
    color: red;
    margin-left: 4px;
}
form input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #ddd;
    padding: 0 20px;
}
form textarea {
    width: 100%;
    height: 12em;
    border-radius: 30px;
    padding: 20px;
    outline: none;
    border-color: #ddd;
}


/*** Header ***/
header {
    position: fixed;
    width: 100%;
    top: 25px;
    z-index: 9999;
}
header.header-scroll {
    top: 0;
    background: hsla(0, 3%, 15%, 0.78);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
}
header.header-scroll .navbar {
    margin: 0 0 0 auto;
}
header.header-scroll .navbar nav {
    margin-right: 0;
    margin-bottom: 0;
}

header .logo {
    text-align: center;
}
header .logo img {
    width: 100px;
}
/* navbar */
.navbar {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.navbar.navbar-open {
    right: 0;
    transition: all .4s;
}
.navbar nav {
    display: flex;
    margin: auto;
}
.navbar nav .nav-list {
    display: flex;
}
.navbar nav .nav-list .list-item {
    margin-left: 26px;
    position: relative;
    padding-bottom: 15px;
}
.navbar nav .nav-list .list-item:first-child {
    margin-left: 0;
}
.navbar nav .nav-list .list-item .item-link {
    color: #fff;
    transition: .3s;
    cursor: pointer;
}
.navbar nav .nav-list .list-item .item-link.active-link {
    color: #88b44e;
}
.navbar nav .nav-list .list-item .item-link .arrow {
    font-size: 10px;
    margin-left: 3px;
    transition: all .3s;
}
.navbar nav .nav-list .list-item .drop-list {
    background: #fff;
    padding: 10px;
    position: absolute;
    top: 100%;
    z-index: 2;
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}
.navbar nav .nav-list .list-item .drop-list li {
    width: 150px;
    padding: 8px;
}
.navbar nav .nav-list .list-item .drop-list li a {
    display: block;
}
.navbar nav .nav-list .list-item .drop-list li a:hover {
    color: #88b44e;
}
.navbar nav .nav-list .list-item:hover .drop-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.navbar nav .nav-list .list-item:hover .arrow {
    transform: rotate(90deg);
}
.navbar nav .nav-list .list-item:hover .item-link {
    color: #88b44e;
}
.navbar nav .nav-icons {
    display: flex;
    margin-left: 122px;
}
.navbar nav .nav-icons .icon-item {
    margin-left: 25px;
}
.navbar nav .nav-icons .icon-item i {
    color: #88b44e;
    transition: .3s;
}
.navbar nav .nav-icons .icon-item:hover i {
    color: #fff;
}
.navbar nav .nav-icons .icon-item .count {
    padding: 0px 6px 1px;
    background: #fff;
    border-radius: 50%;
    font-size: 14px;
    margin-left: 3px;
}
.navbar nav .nav-icons .icon-item .log {
    color: #fff;
    margin-left: 3px;
}
#navbar-btn {
    display: none;
    color: #88b44e;
    position: absolute;
    top: 27px;
    right: 70px;
    font-size: 30px;
    cursor: pointer;
}
.navbar .mobile-nav-close {
    display: none;
    margin-bottom: 50px;
}
.navbar .mobile-nav-close button {
    color: #fff;
    font-size: 36px;
    margin-left: 10px;
    cursor: pointer;
}


/*** main slider ***/
#slider-main {
    height: 125vh;
    position: relative;
}
#slider-main .call {
    position: absolute;
    top: 35px;
    left: 60px;
    z-index: 9999;
}
#slider-main .call a {
    color: #fff;
    font-size: 30px;
    transition: .3s;
}
#slider-main .call a:hover {
    color: #88b44e;
}
#slider {
    height: 100%;
    width: 100%;
}
#slider .img-slide {
    height: 100%;
}
#slider-main .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.56);
    z-index: 1;
}
#circles {
    right: 45px;
    top: 47%;
    z-index: 100 !important;
}
#circles .circle {
    display: block;
    margin-bottom: 30px;
}

/* parallax */
#scene {
    z-index: 2;
}
#scene .parallax-1 {
    position: absolute !important ;
    right: 20px !important ;
    left: auto !important ;
    top: 520px !important ;
}
#scene .parallax-2 {
    position: absolute !important ;
    left: 20px !important ;
    right: auto !important ;
    top: 540px !important ;
}
#scene .parallax-1 img {
    width: 140px;
}
#scene .parallax-2 img {
    width: 130px;
}
#scene .parallax-3 img {
    width: 100%;
}


/*** main-section ***/
.main-section {
    position: absolute;
    top: 22%;
    left: 0;
    right: 0;
    z-index: 99;
}
.main-section .logo {
    text-align: center;
}
.main-section .logo img {
    width: 90px;
}

/*** main section content ***/
.main-section .section-content {
    position: relative;
    margin-top: 30px;
}
.main-section .section-content .social {
    position: fixed;
    left: 60px;
}
.main-section .section-content .social .social-list li {
    margin-bottom: 15px;
    color: #fff;
    font-size: 15px;
    transition: .3s;
}
.main-section .section-content .social .social-list li:last-child {
    position: relative;
    padding-bottom: 40px;
}
.main-section .section-content .social .social-list li:last-child:after {
    content: '';
    width: 1px;
    height: 35px;
    background: #88b44e;
    position: absolute;
    bottom: -14px;
    left: 4px;
}
.main-section .section-content .social .social-list li:hover {
    color: #88b44e;
}
.main-section .section-content .social .social-list li.social-scroll {
    color: #666;
}
.main-section .section-content .social .follow {
    margin-top: 75px;
    transform-origin: 0% 0%;
    transform: rotate(270deg) translateX(-50%) translateY(-50%);
    margin-left: 4px;
    color: #88b44e;
}
.main-section .section-content .section-text {
    text-align: center;
}
.main-section .section-content .section-text h1 {
    color: #fff;
    font-weight: bold;
    font-size: 65px;
}
.main-section .section-content .section-text h1.green {
    color: #88b44e;
    margin-bottom: 30px;
}
.main-section .section-content .section-text p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 50px;
}
.main-section .section-content .section-text .more {
    background: #88b44e;
    color: #fff;
}
.main-section .section-content .section-text .more i {
    color: #333;
}
.main-section .section-content .section-text .more:hover {
    background: #fff;
    color: #333;
}



/*** services ***/
.services {
    position: relative;
    bottom: 60px;
    z-index: 9;
}
.services .service-card {
    display: flex;
    padding: 30px 50px;
}
.services .service-card.white {
    background: #f5f8f2;
    border-radius: 100px 0 0 100px;
}
.services .service-card.black {
    background: #252c30;
    color: #fff;
}
.services .service-card.green {
    background: #88b44e;
    border-radius: 0 100px 100px 0;
}
.services .service-card .card-title {
    margin-left: 20px;
}
.services .service-card .card-title h1 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}
.services .service-card.white h1:last-child {
    color: #88b44e;
}
.services .service-card.black h1:last-child {
    color: #88b44e;
}
.services .service-card.green h1:first-child {
    color: #fff;
}


/*** about section ***/
.about-section {
    padding: 80px 0;
    text-align: center;
}
.about-section .section-content {
    margin: 50px 0 10px;
}
.about-section .section-content .about-icon {
    position: relative;
}
.about-section .section-content .about-icon:after {
    content: '';
    position: absolute;
    right: -35px;
    top: 43px;
    width: 50px;
    border-bottom: 1px dashed #252c30;
}
.about-section .section-content .about-icon.last:after {
    width: 0;
}
.about-section .section-content .about-icon .icon-img {
    border-radius: 50%;
    background: #88b44e;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: auto;
}
.about-section .section-content .about-icon .about-icon-content h3 {
    font-weight: 900;
    font-size: 20px;
    margin: 15px 0;
}
.about-section .section-content .about-icon .about-icon-content p {
    font-size: 14px;
}


/*** product section ***/
.product-section {
    background: #f5f8f2;
    padding: 70px 0;
}
.product-section .product-content {
    position: relative;
    margin-top: 50px;
    padding: 0 30px;
}
/*
.product-section .product-content .product-container {
    margin: 50px 0;
}
*/
.product-section .product-content .product-container .product-card {
/*    padding: 20px 20px 80px;*/
    position: relative;
    margin-bottom: 30px;
}
.product-section .product-content .product-container .product-card a {
    display: block;
}
.product-section .product-content .product-container .product-card .card-img {
    overflow: hidden;
}
.product-section .product-content .product-container .product-card .card-img img {
    width: 100%;
    transition: all .3s linear;
}
.product-section .product-content .product-container .product-card:hover img {
    transform: scale(1.2);
}
.product-section .product-content .product-container .product-card .card-content {
    background: #fff;
    padding: 14px;
    text-align: center;
    position: absolute;
    bottom: 18px;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0,0,0,.07);
    border-radius: 3px;
}
.product-section .product-content .product-container .product-card .card-content h2 {
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 0;
}
.product-section .product-content .product-container .product-card .card-content p {
    font-size: 14px;
}
/*
.product-section .product-content .slider-controllers {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product-section .product-content .slider-controllers button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #88b44e;
    cursor: pointer;
    margin: 8px;
    transition: .4s;
    color: #fff;
    font-size: 12px;
}
.product-section .product-content .slider-controllers button:hover {
    background: #fff;
    color: #333;
}
*/

/*** certificate ***/
.certificate-section {
    padding: 50px 0;
}
.certificate-section .certificate-img img {
    width: 100%;
}


/*** drinks section ***/
/*
.drinks-section {
    background: #88b44e;
    padding: 80px 0;
    position: relative;
}
.drinks-section .overlay {
    background-image: url(../img/drink-bg.png);
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.drinks-section .drinks-content h1 {
    font-weight: bolder;
}
.drinks-section .drinks-content h1 span {
    color: #fff;
}
.drinks-section .drinks-content h6 {
    font-weight: bold;
    color: #fff;
    font-style: italic;
    margin: 30px 0 60px;
    font-size: 19px;
}
.drinks-section .drinks-content .drinks-icons .icon-container {
    display: flex;
    margin-bottom: 25px;
}
.drinks-section .drinks-content .drinks-icons .icon-container .icon-img {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
}
.drinks-section .drinks-content .drinks-icons .icon-container h6 {
    font-size: 15px;
    color: #333;
    margin-left: 10px;
    margin: auto 10px auto;
}
.drinks-section .drinks-content .more {
    background: #252c30;
    color: #fff;
}
.drinks-section .drinks-content .more i {
    color: #88b44e;
}
.drinks-section .drinks-content .more:hover {
    background: #88b44e;
    color: #333;
}
.drinks-section .drinks-content .more:hover i {
    color: #252c30;
}
*/


/*** store section ***/
.store-section {
    padding: 100px 0;
    text-align: center;
}
.store-section .store-content {
    margin-top: 60px;
}
.store-section .store-content .slide .slide-card .card-img img {
    width: 100%;
}
.store-section .store-content .slide .slide-card {
    padding: 30px;
    position: relative;
    transition: .3s;
}
.store-section .store-content .slide .slide-card .stars {
    color: #f3d200;
    font-size: 10px;
    margin-top: 15px;
}
.store-section .store-content .slide .slide-card .card-content h2 {
    font-weight: bold;
    margin: 10px 0 25px;
}
.store-section .store-content .slide .slide-card .card-content p {
    font-size: 14px;
}
.store-section .store-content .slide .slide-card .card-content .price {
    color: #88b44e;
    font-weight: bold;
    font-size: 21px;
}
.store-section .store-content .slide .slide-card .card-content a {
    display: none;
}
.store-section .store-content .slide .slide-card .card-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(206, 199, 199, 0.5);
    visibility: hidden;
    opacity: 0;
}
.store-section .store-content .slide .slide-card .card-overlay .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.store-section .store-content .slide .slide-card:hover .card-overlay {
    visibility: visible;
    opacity: 1;
}


/*** video section ***/
.video-section {
    padding: 90px 0 0;
    text-align: center;
    background-image: url(../img/slider3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}
.video-section .video-title h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 50px;
}
.video-section .video-title h1 span {
    color: #88b44e;
}
.video-section .video-title h6 {
    color: #fff;
    font-size: 18px;
    margin: 20px 0 50px;
}
.video-section .video-content {
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../img/video.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
    width: 80%;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
}
.video-section .video-content .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.42);
}
.video-section .video-content .video-container .video-control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.video-section .video-content .video-img img {
    width: 100%;
}
.video-section .video-content .video-control .play {
    display: inline-block;
    border: 10px solid #fff;
    border-radius: 50%;
    transition: all .4s;
    cursor: pointer;
}
.video-section .video-content .video-control .play a {
    display: inline-block;
    background: #88b44e;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    line-height: 85px;
    font-size: 30px;
    color: #fff;
}
.video-section .video-content .video-control .play a i {
    margin-left: 5px;
}
.video-section .video-content .video-control .play:hover {
    border-color: #88b44e;
}
.video-section .video-content .video-control .play:hover a {
    background: #252c30;
}
.video-section .iframe-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #252c30;
    z-index: 99999;
    transform: scale(0);
    transition: all .4s;
}
.video-section iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #333;
    width: 70%;
    height: 60%;
}
.video-section .iframe-container .close-btn {
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.video-section .iframe-container.iframe-active {
    transform: scale(1);
}


/*** customer section ***/
.customer-section {
    background-image: url(../img/customers-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0 200px;
}
.customer-section .customer-bg {
    background-image: url(../img/customers-bg2.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.customer-section .customer-content {
    text-align: center;
}
.customer-section .customer-content h1 {
    font-weight: bold;
    font-size: 200px;
    color: #88b44e;
}
.customer-section .customer-content h2 {
    font-weight: bold;
    font-size: 50px;
}
.customer-section .customer-content p {
    font-size: 18px;
    max-width: 770px;
    font-style: italic;
    margin: auto;
    color: #666;
    margin-top: 30px;
}


/*** whatsapp section ***/
.whatsapp-section {
    background: #88b44e;
    padding: 40px 0;
}
.whatsapp-section .section-content .left p {
    color: #fff;
    position: relative;
    padding-left: 50px;
    width: 90%;
    margin: auto;
}
.whatsapp-section .section-content .left p:before {
    content: '';
    width: 60px;
    height: 1px;
    background: #333;
    position: absolute;
    left: -26px;
    top: 10px;
}
.whatsapp-section .section-content .right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.whatsapp-section .section-content .right .more {
    margin-top: 0;
    height: 54px;
}
.whatsapp-section .section-content .right .more:hover {
    background: #fff;
}
.whatsapp-section .section-content .right h1 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}


/*** cup section ***/
.cup-section {
    padding: 100px 0;
}
.cup-section .cup-left .cup-bg {
    background-image: url(../img/cup-bg.png);
    background-repeat: no-repeat;
    padding-top: 90px;
}
.cup-section .cup-left .cup-bg h1 {
    font-weight: bold;
}
.cup-section .cup-left .cup-bg p {
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    margin: 40px 0 50px;
}
.cup-section .cup-right .cup-img img {
    width: 100%;
}


/*** blog section ***/
.blog-section {
    padding: 90px 0;
    background: #f5f8f2;
}
.blog-section .section-header span {
    padding-bottom: 50px;
}
.blog-section .blog-content {
    margin-top: 50px;
}
.blog-section .blog-content .blog-card:hover {
    border-bottom: 4px solid #88b44e;
    transition: .2s;
}
.blog-section .blog-content .blog-card .card-img {
    overflow: hidden;
}
.blog-section .blog-content .blog-card .card-img img {
    width: 100%;
    transition: all .3s ease;
}
.blog-section .blog-content .blog-card .card-img img:hover {
    transform: scale(1.05);
}
.blog-section .blog-content .blog-card .card-content {
    background: #fff;
    padding: 30px 30px 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.blog-section .blog-content .blog-card .card-content .card-text {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.blog-section .blog-content .blog-card .card-content .card-text h2 {
    font-weight: bold;
    font-size: 23px;
}
.blog-section .blog-content .blog-card .card-content .card-text p {
    font-size: 15px;
    margin-top: 20px;
}
.blog-section .blog-content .blog-card .card-content .card-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.blog-section .blog-content .blog-card .card-content .card-bottom h3 {
    font-size: 16px;
    color: #999;
}
.blog-section .blog-content .blog-card .card-content .card-bottom .likes {
    display: flex;
}
.blog-section .blog-content .blog-card .card-content .card-bottom .likes p {
    color: #88b44e;
    font-size: 12px;
}
.blog-section .blog-content .blog-card .card-content .card-bottom .likes p:first-child {
    margin-right: 15px;
}
.blog-section .blog-link {
    text-align: center;
    margin-top: 40px;
}


/*** brand section ***/
.brand-section {
    padding: 50px 0;
}


/*** footer ***/
footer {
    background: #252c30;
}
footer .footer-logo {
    padding: 40px 0;
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #55555578;
}
footer .footer-logo-content {
    display: flex;
    justify-content: space-between;
}
footer .footer-logo-content .logo-img img {
    max-width: 195px;
}
footer .footer-social {
    display: flex;
    align-items: center;
}
footer .footer-social span {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin-right: 45px;
}
footer .footer-social span:after {
    content: '';
    width: 13px;
    height: 2px;
    background: #fff;
    position: absolute;
    right: -20px;
    top: 11px;
}
footer .footer-social .social-list {
    display: flex;
}
footer .footer-social .social-list li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: #88b44e;
    cursor: pointer;
    margin-left:10px;
    transition: .4s;
    color: #fff;
    transition: .3s ease;
}
footer .footer-social .social-list li:hover {
    background: #fff;
    color: #252c30;
}
footer .main-footer {
    padding: 40px 0;
}
footer .main-footer .footer-col .title {
    color: #88b44e;
    font-weight: bold;
    margin-bottom: 30px;
}
footer .main-footer .footer-col .address {
    color: #fff;
}
footer .main-footer .footer-col .address span {
    color: #88b44e;
}
footer .main-footer .footer-col .contact-list {
    margin-top: 50px;
}
footer .main-footer .footer-col .contact-list li {
    color: #fff;
    margin-bottom: 10px;
}
footer .main-footer .footer-col .contact-list li i {
    color: #88b44e;
    margin-right: 12px;
}
footer .main-footer .footer-col.explore .links-list {
    display: inline-block;
}
footer .main-footer .footer-col.explore .links-list:last-child {
    margin-left: 90px;
}
footer .main-footer .footer-col.explore .links-list li {
    margin-bottom: 16px;
}
footer .main-footer .footer-col.explore .links-list li a {
    color: #fff;
}
footer .main-footer .footer-col.explore .links-list li a:hover {
    color: #88b44e;
}
footer .main-footer .footer-col.explore .links-list li a i {
    color: #88b44e;
    font-size: 12px;
    margin-right: 5px;
    transition: .3s;
}
footer .main-footer .footer-col.news .news-content {
    display: flex;
    margin-bottom: 30px;
}
footer .main-footer .footer-col.news .news-content .news-title {
    margin-left: 20px;
}
footer .main-footer .footer-col.news .news-content .news-title a h6 {
    color: #88b44e;
}
footer .main-footer .footer-col.news .news-content .news-title a h3 {
    color: #fff;
    font-size: 18px;
}

footer .copyrights {
    background: #1c2124;
    padding: 20px 0;
}
footer .copyrights .copy-content {
    display: flex;
    justify-content: space-between;
}
footer .copyrights .copy-content p {
    color: #fff;
    margin-bottom: 0;
    font-size: 14px;
}
footer .copyrights .copy-content p span {
    color: #88b44e;
}
footer .copyrights .copy-content .scroll-top {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}
footer .copyrights .copy-content .scroll-top:hover {
    background: #88b44e;
    color: #fff;
}

/*** 
    about page 
***/
.page-bg .bg-section {
    background: linear-gradient( rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6)100%),url("../img/about-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 550px;
    position: relative;
}
.page-bg .bg-section .bg-content {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
}
.page-bg .bg-section .bg-content h1 {
    font-weight: bold;
    font-size: 50px;
}
.page-bg .bg-section .bg-content h6 {
    font-weight: bold;
}
.page-bg .bg-section .bg-content h6 a {
    color: #88b44e;
    transition: .3s;
}
.page-bg .bg-section .bg-content h6 a:hover {
    color: #fff;
}
.page-bg .bg-section .bg-content h6 a i {
    font-size: 10px;
    color: #88b44e;
    margin: 0 5px;
}
.about-page .about-container {
    padding-top: 60px;
    padding-bottom: 60px;
}
.about-page .about-container .about-content .img-container img {
    width: 100%;
    margin-bottom: 40px
}
.about-page .about-container .about-content .text h2 {
    font-weight: bold;
}
.about-page .about-container .about-content .text blockquote {
    background: #f5f8f2;
    text-align: center;
    padding: 30px;
    color: #555;
    font-style: italic;
    margin: 40px 0;
    font-size: 18px;
}
.about-page .about-container .about-content .text blockquote i {
    font-size: 40px;
    color: #88b44e;
}
.about-page .about-container .about-content ul {
    padding-left: 30px;
    margin-bottom: 30px;
}
.about-page .about-container .about-content ul li:before {
    content: "\2022";
    color: #88b44e;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    font-size: 24px;
}


/*** product page ***/
.product-page .sidebar {
    background: #f5f8f2;
    padding: 90px 30px 30px;
    border-top: 4px solid #88b44e;
}
.product-page .sidebar form {
    position: relative;
}
.product-page .sidebar form input {
    border: 1px solid rgba(0,0,0,.1);
    width: 100%;
    height: 50px;
    border-radius: 30px;
    display: block;
    padding-left: 17px;
}
.product-page .sidebar form button {
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
    height: 100%;
    width: 40px;
    color: #88b44e;
    font-size: 17px;
}
.product-page .sidebar form input:focus {
    border-color: #88b44e;
}
.sidebar .cat .cat-header {
    margin-top: 40px;
    margin-bottom: 20px;
}
.sidebar .cat .cat-header img {
    display: inline-block;
    vertical-align: middle;
}
.sidebar .cat .cat-header h3 {
    font-weight: bold;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.sidebar .cat .cat-header h3:after {
    content: "";
    position: absolute;
    bottom: 9px;
    right: -40px;
    background: #88b44e;
    width: 30px;
    height: 1px;
}
.sidebar .cat .cat-list li {
    margin-bottom: 10px;
}
.sidebar .cat .cat-list li:before {
    content: "\2022";
    color: #88b44e;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    font-size: 14px;
}
.sidebar .cat .cat-list li a {
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
.sidebar .cat .cat-list li a:hover {
    color: #88b44e;
}
.product-page .store-section {
    padding-top: 30px;
    display: none;
}
.product-page .store-section#all {
    display: block;
}
    

/*** blog page ***/
.blog-page .blog-section .blog-content .blog-card {
    margin-bottom: 30px;
}


/*** checkout page ***/
.checkout-page .checkout-container {
    padding: 70px 0;
}
.checkout-page .details .details-header h2 {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 25px;
}
.checkout-page form .details .details-content .form-group {
    margin-bottom: 20px;
}
.checkout-page form .details .details-content .form-group:first-child {
    display: inline-block;
    width: 48%;
}
.checkout-page form .details .details-content .form-group:nth-child(2) {
    display: inline-block;
    margin-left: 3%;
    width: 48%;
}

.checkout-page .info {
    margin-left: 20px;
}
.checkout-page .info .info-header h2 {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 25px;
}
.checkout-page .info .form-group label {
    display: block;
    font-weight: bold;
}

.checkout-page form .form-table {
    margin-top: 40px;
}
.checkout-page form .form-table h2 {
    font-weight: bold;
    margin-bottom: 10px;
}
.checkout-page form .form-table table {
    width: 100%;
}
.checkout-page form .form-table table thead {
    background: #252c30;
    color: #Fff;
}
.checkout-page form .form-table table tr {
    height: 75px;
}
.checkout-page form .form-table table tr th {
    font-weight: bold;
    padding-left: 20px;
}
.checkout-page form .form-table table tr td {
    padding-left: 20px;
}
.checkout-page form .form-table table tbody tr {
    border: 1px solid #ddd;
}
.checkout-page form .form-table table tbody tr td {
    border-right: 1px solid #ddd;
}

.checkout-page form .form-radio {
    margin-top: 50px;
}
.checkout-page form .form-radio label {
    font-weight: bold;
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.checkout-page form .form-radio label input {
    margin-right: 10px;
    width: auto;
    height: auto;
}
.checkout-page form .form-radio label img {
    width: 150px;
    margin-left: 15px;
}

.checkout-page form input:focus, .checkout-page form textarea:focus {
    border-color: #88b44e !important;
}


/*** account page ***/
.account-page .account-content {
    padding: 70px 0;
}
.account-page .account-header h2 {
    font-weight: bold;
    margin-bottom: 30px;
}
.account-page form {
    border: 2px solid #ddd;
    padding: 25px 25px 50px;
}
.account-page form .form-group.check {
    display: inline-block;
    margin-left: 20px;
}
.account-page form .form-group.check input {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
.account-page form .form-group.check span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    font-weight: bold;
    font-size: 15px;
}
.account-page form a {
    display: block;
    color: #88b44e;
    margin-top: 7px;
}


/*** contact page ***/
.contact-page .contact-content {
    padding: 70px 0 0;
}
.contact-page .contact-content .contact-col h2 {
    font-weight: bold;
    margin-bottom: 30px;
}
.contact-page .contact-content .contact-col p {
    margin-bottom: 40px;
    color: #666;
}
.contact-page .contact-content .contact-list li {
    margin-bottom: 13px;
}
.contact-page .contact-content .contact-list li i {
    margin-right: 10px;
    font-size: 20px;
    color: #88b44e;
}
.contact-page .contact-content .social-list {
    display: flex;
    margin-top: 50px;
}
.contact-page .contact-content .social-list li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: #88b44e;
    cursor: pointer;
    margin-left: 10px;
    color: #fff;
    transition: .3s ease;
}
.contact-page .contact-content .social-list li:first-child {
    margin-left: 0;
}
.contact-page .contact-content .social-list li:hover {
    background: #fff;
    color: #252c30;
}
.contact-page .contact-content .hours .hours-list li {
    margin-bottom: 20px;
}
.contact-page form {
    background: #f5f8f2;
    padding: 30px 40px;
}
.contact-page form textarea {
    height: 9em;
}
.contact-page form .submit {
    text-align: center;
}
.contact-page .contact-map {
    margin-top: 50px;
}
.contact-page .contact-map .mapouter {
    width: 100%;
}
.contact-page .contact-map .mapouter .gmap_canvas {
    width: 100%;
}
.contact-page .contact-map .mapouter iframe {
    width: 100%;
}


/***
    gallery page
***/
.gallery-page .gallery-content {
    padding: 80px 0 60px;
}
.gallery-page .gallery-content .gallery-item {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.gallery-page .gallery-content .gallery-item img {
    width: 100%;
}
.gallery-page .gallery-content .gallery-item .zoom {
    background: rgba(0, 0, 0, .8);
    padding: 20px;
    font-size: 26px;
    line-height: 26px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    z-index: 10;
    transition: all .3s ease;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-500%,-50%);
    color: #fff;
}
.gallery-page .gallery-content .gallery-item:hover .zoom {
    transform: translate(-50%, -50%);
}


/*** prod-desc-page ***/
.prod-desc-page .prod-container {
    padding: 90px 0;
}
.prod-desc-page .prod-container .prod-img img {
    width: 100%;
}
.prod-desc-page .prod-container .summary h1 {
    font-weight: bold;
}
.prod-desc-page .prod-container .summary .stars {
    margin: 25px 0 30px;
    color: #f3d200;
    font-size: 13px;
}
.prod-desc-page .prod-container .summary .prod-count .count {
    position: relative;
    display: inline-block;
    width: 62px;
}
.prod-desc-page .prod-container .summary .prod-count .count input {
    border: 1px solid #233851;
    display: inline-block;
    width: 50px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5;
    font-size: 20px;
}
.prod-desc-page .prod-container .summary .prod-count .count .count-arrows {
    display: inline-block;
    position: absolute;
    bottom: 0;
}
.prod-desc-page .prod-container .summary .prod-count .count .count-arrows a {
    display: block;
    border: 1px solid #233851;
    width: 23px;
    height: 20px;
    text-align: center;
    border-left: none;
    background: #dddddd;
    color: #999;
    font-size: 11px;
    line-height: 2;
    cursor: pointer;
}
.prod-desc-page .prod-container .summary .prod-count .count i {
    display: inline-block;
}
.prod-desc-page .prod-container .summary .prod-count button {
    margin-left: 30px;
}
.prod-desc-page .prod-container .desc-reviews {
    margin-top: 35px;
}
.prod-desc-page .prod-container .desc-reviews .switch-list li {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    width: 145px;
    text-align: center;
}
.prod-desc-page .prod-container .desc-reviews .switch-list li a {
    display: block;
    background: #88b44e;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    transition: .3s;
}
.prod-desc-page .prod-container .desc-reviews .switch-list li a:hover {
    background: #333;
}
.prod-desc-page .prod-container .desc-reviews .switch-list li a.active {
    background: #f5f8f2;
    color: #000;
}
.prod-desc-page .prod-container .desc-reviews .desc-reviews-container .content {
    background: #f5f8f2;
    padding: 30px;
    display: none;
}
.prod-desc-page .prod-container .desc-reviews .desc-reviews-container .content#description {
    display: block;
}
.prod-desc-page .prod-container .desc-reviews .desc-reviews-container .content h1 {
    font-weight: bold;
    margin-bottom: 30px;
}
.prod-desc-page .prod-container .desc-reviews .content .comments .user-comment {
    display: flex;
    margin-left: 20px;
}
.prod-desc-page .prod-container .desc-reviews .content .comments .user-comment .comment-img img {
    width: 32px;
}
.prod-desc-page .prod-container .desc-reviews .content .comments .user-comment .comment-text {
    position: relative;
    margin-left: 20px;
}
.prod-desc-page .prod-container .desc-reviews .content .comments .user-comment .comment-text p:first-child {
    color: #777;
}
.prod-desc-page .prod-container .desc-reviews .content .comments .user-comment .comment-text .stars {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 11px;
    color: #f3d200;
}
.prod-desc-page .prod-container .desc-reviews .content .comments .add-review {
    margin: 30px 0;
}
.prod-desc-page .prod-container .desc-reviews .content .comments h4 {
    font-weight: bold;
}
.prod-desc-page .prod-container .desc-reviews .content .comments .rating .stars {
    font-size: 13px;
    color: #88b44e;
}
.prod-desc-page .prod-container .desc-reviews .content .comments .review-form {
    margin-top: 35px;
}
.prod-desc-page .prod-container .store-section {
    padding-bottom: 0;
}
.prod-desc-page .prod-container .store-section h1 {
    text-align: left;
    font-weight: bold;
}



    
/***
    Rsponsive
***/    
@media(max-width: 1200px) {
    
    /** navbar **/
    #navbar-btn {
        display: block;
    }
    .navbar {
        position: fixed;
        top: 0;
        right: -500px;
        margin: 0;
        width: 500px;
        height: 100%;
        padding: 0;
        z-index: 99999;
        background: #252c30;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .navbar nav {
        flex-direction: column;
        padding: 50px;
        width: 100%;
        height: 100%;
    }
    .navbar nav .nav-list {
        flex-direction: column;
    }
    .navbar nav .nav-list .list-item {
        margin-left: 0;
    }
    .navbar nav .nav-list .list-item .item-link {
        display: block;
        color: #fff;
        padding: 10px 22px;
    }
    .navbar nav .nav-list .list-item .item-link.active-link {
        background: #88b44e;
        border-radius: 20px;
        color: #fff;
    }
    .navbar nav .nav-list .list-item .item-link .arrow {
        float: right;
        color: #88b44e;
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        line-height: 25px;
        text-align: center;
    }
    .navbar nav .nav-icons {
        margin-top: 50px;
        justify-content: space-around;
        margin-left: 0;
    }
    .navbar .mobile-nav-close {
        display: block;
    }
    
    /** services **/
    .services .service-card {
        padding: 25px;
        height: 100%;
    }
}

@media(max-width: 991px) {
    #circles {
        display: none;
    }
    
    /** main-section **/
    .main-section .section-content .social {
        display: none;
    }
    .main-section .section-content .section-text h1 {
        font-size: 40px;
    }
    
    /** services **/
    .services .services-card {
        padding: 25px 25px;
        flex-direction: column;
        align-items: center;
    }
    .services .services-card .card-title {
        margin-left: 0;
        text-align: center;
        margin-top: 7px;
    }
    .services .service-card .card-title h1 {
        font-size: 16px;
    }
    
    /** about **/
    .about-section .section-content .about-icon:after {
        width: 0;
    }
    .about-section .section-content .about-icon {
        margin-bottom: 30px;
    }
    
    /** cup **/
    .cup-section {
        padding: 60px 0;
    }
    .cup-section .cup-left {
        text-align: center;
    }
    .cup-section .cup-left .cup-bg h1 {
        font-size: 28px;
    }
    .cup-section .cup-left .cup-bg p {
        margin-bottom: 20px;
    }
    .cup-section .cup-right {
        margin-top: 40px;
    }
    
    /** footer **/
    footer .main-footer .footer-col {
        margin-bottom: 50px;
    }
    
    /** product page **/
    .product-page .sidebar {
        display: none;
    }
    .store-section .store-content .slide .slide-card .card-content a {
        display: block;
    }
    .product-page .store-section .store-content .slide .slide-card .card-overlay {
        opacity: 0;
        visibility: hidden;
    }
    
    /** checkout page **/
    .checkout-page form .details .details-content .form-group:first-child,
    .checkout-page form .details .details-content .form-group:nth-child(2) {
        display: block;
        width: 100%;
        margin-left: 0;
    }
    .checkout-page .info {
        margin-left: 0;
        margin-top: 20px;
    }
    .checkout-page .info .info-header h2,
    .checkout-page .details .details-header h2 {
        font-size: 27px;
    }
    
    /** contact page **/
    .contact-page .contact-content .contact-col {
        margin-bottom: 50px;
    }
}
    
@media(max-width: 767px) {
    #slider-main {
        height: 100vh;    
    }
    
    .section-header h2 {
        font-size: 28px;
        width: 90%;
        margin: auto;
    }
    .section-header p {
        font-size: 15px;
        width: 90%;
        margin: 30px auto;
    }
    .section-header span {
        font-size: 90px
    }
    
    /** parallax **/
    #scene {
        display: none;
    }
    
    /** main section **/
    .main-section .section-content .section-text p {
        font-size: 14px;
    }
    
    /** services **/
    .services {
        bottom: 0;
    }
    .services .service-card.white {
        border-radius: 0;
    }
    .services .service-card.green  {
        border-radius: 0;
    }
    .about-section .section-content .about-icon .about-icon-content h3 {
        font-size: 18px;
    }
    .about-section .section-content .about-icon .about-icon-content p {
        font-size: 12px;
    }
    
    /** video **/
    .video-section .video-title h1 {
        font-size: 30px;
    }
    .video-section .video-title h6 {
        font-size: 16px;
    }
    .video-section .video-content {
        width: 90%;
        height: 50%;
        background-size: cover;
    }
    .video-section iframe {
        width: 100%;
    }
    
    /** customer **/
    .customer-section .customer-content h1 {
        font-size: 120px;
    }
    .customer-section .customer-content h2 {
        font-size: 30px
    }
    .customer-section .customer-content p {
        font-size: 16px;
    }
    
    /** whatsapp **/
    .whatsapp-section .section-content .left p {
        padding-left: 0;
    }
    .whatsapp-section .section-content .left p:before {
        width: 0;
    }
    .whatsapp-section .section-content .right {
        flex-direction: column;
        margin-top: 20px;
    }
    .whatsapp-section .section-content .right .right-img {
        display: none;
    }
    .whatsapp-section .section-content .right h1 {
        margin-bottom: 20px;
    }
    
    /** blog **/
    .blog-section .blog-content .blog-card {
        margin-bottom: 30px;
    }
    
    /** brand **/
    .brand-section {
        display: none;
    }
    
    /** footer **/
    footer .footer-logo-content {
        flex-direction: column;
        align-items: center;
    }
    footer .footer-social {
        margin-top: 30px;
    }
}

@media(max-width: 500px) {
    
    .section-header span {
        font-size: 70px;
    }
    .navbar {
        width: 100%;
    }
    
    /** main section **/
    .main-section .section-content .section-text p {
        font-size: 12px;
    }
    
    /** footer **/
    footer .footer-social span {
        display: none;
    }
    footer .main-footer .footer-col.news .news-content .news-title a h3 {
        font-size: 16px;
    }
    footer .main-footer .footer-col.news .news-content .news-title a h6 {
        font-size: 14px;
    }
    footer .copyrights .copy-content p {
        font-size: 12px;
    }
    
    /** prod-desc-page **/
    .prod-desc-page .prod-container .desc-reviews .switch-list li {
        width: 110px;
        font-size: 15px;
    }
    .prod-desc-page .prod-container .desc-reviews .content .comments .user-comment .comment-text .stars {
        right: auto;
        top: auto;
        bottom: 0;
    }
    .prod-desc-page .prod-container .desc-reviews .desc-reviews-container .content h1 {
        font-size: 25px;
    }
    .prod-desc-page .prod-container .desc-reviews .desc-reviews-container .content p {
        font-size: 14px;
    }
}







